@page "{id:long?}"
@model IndexModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Index Razor Page</title>
</head>
<body>
<div class="bg-primary text-white text-center m-2 p-2">@Model.Product.Name</div>
</body>
</html>
